/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
	padding: 60px 15px 0;
}

div, span, .color-black {
	color: black;
}

.custom-footer {
	text-align: center;
}
